// nav
nav#sg-sidebar.sg-sidebar(aria-label="sidebar" data-scroll-header hidden)
  ul#sg-sidebar-nav.sg-sidebar-nav
  
    li.sg-brand.mb-1-pt5.text-center
      // change the font to match YOUR brand
      .sg-brand-logo.invert-color.bevan Brand &#5782;

    li
      a.nav-toggle(href="#introduction" role="button" data-scroll) Introduction <!--<span class="caret" aria-hidden="true">▹</span>-->
        //ul.sub-menu(hidden)
          li
            a(href="#introduction" data-scroll)
    li
      a(href="#colors" data-scroll) Colors

    li
      a(href="#typography" data-scroll) Typography

    li
      a(href="#buttons" data-scroll) Buttons

    li
      a(href="#lists" data-scroll) Lists

    li
      a(href="#forms" data-scroll) Forms

    li
      a(href="#tables" data-scroll) Tables

    li
      a(href="#templates" data-scroll) Templates