@font-face {
  font-family: "HUGEAvantGardeBold";
  src: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/97621/huge_agb_v5-webfont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Galaxie";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/97621/GalaxieCopernicus-Book.woff2") format("woff2");
}
@font-face {
  font-family: "Galaxie";
  font-display: swap;
  font-style: italic;
  font-weight: normal;
  src: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/97621/GalaxieCopernicus-BookItalic.woff2") format("woff2");
}